<?xml version='1.0' encoding='utf-8'?>
<widget id="pe.appventures.cuentasueldo" version="2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cuenta Sueldo</name>
    <description>
        Con Cuenta Sueldo de Banco Falabella puedes recibir tu sueldo sin costo de mantenimiento y múltiples beneficios los 365 días del año.
    </description>
    <author email="vamosde@picnic.pe" href="http://picnic.pe">
        Picnic Comunicación Creativa S.A.C.
    </author>
    <content src="index.html" />

    <preference name="Orientation" value="portrait" />
    <preference name="BackgroundColor" value="0xffffffff"/>
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreenDuration" value="300"/>
    <preference name="SplashMaintainAspectRatio" value="true" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <platform name="android">
        <!-- 
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="res/icon/android/icon-36-ldpi.png" density="ldpi" />
        <icon src="res/icon/android/icon-48-mdpi.png" density="mdpi" />
        <icon src="res/icon/android/icon-72-hdpi.png" density="hdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
        <icon src="res/icon/android/icon-144-xxhdpi.png" density="xxhdpi" />
        <icon src="res/icon/android/icon-192-xxxhdpi.png" density="xxxhdpi" />

        <splash density="port-ldpi" src="res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-hdpi" src="res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
    </platform>
</widget>
